@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.post__headerSpecial {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

/* .sidebar-icon {
  font-size: 1.25rem; /* Adjust as needed */

  .bg-nav-lab{
    background-color:#fff ;
  }
  .text-dlab-blue{
    color:#618cb7 ;
  }
  .post__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }